<div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
      INPUT file
  </div>

  <hr>


  <div>
    <h4>Carga de archivo</h4>

    <form materialize (ngSubmit)="submitState(localState.value)" autocomplete="off">

        <div class="row">
            <div class="col s8"><div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
            <div class="col s4">44444444444444s 4444444444444444444444444 4444444444444 444444444444444444444444444444 444444444444444444444444</div>
        </div>
        
      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus> 

      <button >Submit Value</button>
       

      <select materialize="material_select" multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="tea">Tea</option>
          <option value="coffee">Coffee</option>
          <option value="juice">Juice</option>
        </select>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
