<div>
  <h1 x-large class="sample-content">Inicio</h1>
 
  
  <div>
    <h4>Carga de archivo</h4>
    <hr>

    <form materialize (ngSubmit)="submitState(localState.value)" autocomplete="off">

        <div class="row">
            <div class="col m7 s12">
                <div class="file-field input-field">
                    <div class="btn-floating waves-effect waves-light pulse">
                        <i class="material-icons dp48">insert_drive_file</i>
                          <input type="file" (change)='readFile($event)'>
                    </div>
                    <div class="file-path-wrapper">                    
                      <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="col m5 s12">
                44444444444444s 4444444444444444444444444
               4444444444444 444444444444444444444444444444 444444444444444444444444
               <div>
                  {{jsonPreview}}
              </div>
              </div>
        </div>
        
      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus> 

        
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <!-- <pre>this.localState = {{ localState | json }}</pre> -->

  </div>

</div>
