<div>
  <h1 x-large class="sample-content">Inicio</h1>
 
  
  <div>
    <h4>Carga de archivo</h4>
    <hr>

    <form materialize (ngSubmit)="submitState(localState.value)" autocomplete="off">

        <div class="row">
            <div class="col m7 s12">
                
                <div class="row">
                     <div class="s12">
                        <div class="file-field input-field">
                            <div class="btn-floating waves-effect waves-light pulse">
                                <i class="material-icons dp48">insert_drive_file</i>
                                <input type="file" (change)='readFile($event)'>
                            </div>
                            <div class="file-path-wrapper">                    
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="s12" *ngIf="fileLoaded">
                        <div class="input-field col s6">
                            <input placeholder="Password" [(ngModel)]="encryptorFile.PlainPassword" 
                                    id="password" name="password" type="text" class="validate">
                            <label for="password">Password</label>
                        </div>   
                        <div class="input-field col s6">
                            <a class="waves-effect waves-light btn" (click)="DecryptPasswords()">Descifrar</a>
                        </div>                        
                    </div>
                </div>

                <div class="row">
                    <div class="s12" *ngIf="fileLoaded">
                        <div class="input-field col s6">
                            <input placeholder="4 dígitos" [(ngModel)]="encryptorFile.PinCode" 
                                    id="pin" name="pin" type="text" class="validate">
                            <label for="pin">Código Pin</label>
                        </div>
                        <div class="input-field col s6">
                            <a class="waves-effect waves-light btn" (click)="DecryptPasswords()">Descifrar</a>
                        </div>                        
                    </div>
                </div>
                
            </div>
            <div class="col m5 s12"> 
                  <div class="card-panel light-green lighten-4 ">
                    <span class="grey-text text-darken-4"> 
                          <table> 
                              <tbody>
                                <tr>
                                    <td>Nombre</td>
                                    <td class="grey-text text-darken-1">{{encryptorFile.Name}}</td> 
                                </tr>
                                <tr>
                                  <td>Versión de archivo</td>
                                  <td class="grey-text text-darken-1">{{encryptorFile.FileVersion}}</td> 
                                </tr> 
                                <tr>
                                  <td>Ultima modificación</td>
                                  <td class="grey-text text-darken-1">{{encryptorFile.ModifiedDate}}</td> 
                                </tr> 
                                <tr>
                                    <td>Descripción</td>
                                    <td class="grey-text text-darken-1">{{encryptorFile.Description}}</td> 
                                </tr> 
                                <tr>
                                    <td>Indicio de ultimo guardado</td>
                                    <td class="grey-text text-darken-1">{{encryptorFile.LastSavedHint}}</td> 
                                </tr>
                                <tr>
                                    <td>Indicio de contraseña</td>
                                    <td class="grey-text text-darken-1">{{encryptorFile.PasswordHint}}</td> 
                                </tr>
                                <tr>
                                    <td>Guardado desde</td>
                                    <td class="grey-text text-darken-1">{{encryptorFile.SavedFrom}}</td> 
                                </tr>
                              </tbody>
                          </table>
                    </span>
                  </div>   
                  
                  <div>
                      {{jsonPreview}}
                  </div>
              </div>
        </div>
        
      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus> 

        
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <!-- <pre>this.localState = {{ localState | json }}</pre> -->

  </div>

</div>
